* {
	font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
	margin: 0;
	font-weight: lighter;
	letter-spacing: 1px;
}
*::selection {
	background-color: rgba(0, 0, 0, 0.25);
}
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 5px;
}
*::-webkit-scrollbar-track {
	background-color: #ccc;	
}
body, html {
    height: 100%;
}
a {
	color: #099;
	text-decoration: none;
	padding: 0 !important;
}
.footer a {
	color: #cff;
}
.full {
    background-color: #333;
    height: 100%;
	overflow: hidden;
}
.full div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: blur(5px);
}
.over {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	left: 0;
	right: 0;
	color: #eee;
}
.tile {
	width: 100%;
	display: flex;
}
.tile div {
	background-size: cover;
	background-position: center;
	padding: 20px;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.tile * {
	padding: 20px;
}
.tile div * {
	margin: auto;
	max-width: 750px;
}
.img {
	padding-top: 50% !important;
	width: calc(100% - 40px) !important;
	margin-bottom: 20px;
}
.img:hover > div {
	opacity: 1;
}
.img div {
	background-color: rgba(255, 255, 255, 0.75);
	height: calc(100% - 40px);
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: calc(100% - 40px);
	transition: 0.25s;
	opacity: 0;
}
.img a {
	color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-size: 20px;
}
.footer {
	background-color: #333;
	color: #eee;
	text-align: center;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 30px;
}
p {
	font-size: 20px;
	line-height: 30px;
}
.back {
	width: 60%;
}
@media only screen and (max-width: 768px) {
	.tile {
		display: block;
	}
	.tile div {
		width: calc(100% - 40px) !important;
	}
	.back {
		padding-top: 50% !important;
	}
}