/* All */
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	font-size: 0px;
}
body::-webkit-scrollbar-track {
	background-color: #eee;
}
body::-webkit-scrollbar {
	width: 10px;
}
body::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(rgba(34, 187, 85, 0.8), rgba(34, 187, 85, 0.5) 50%, rgba(0, 136, 119, 0.8) 50%, rgba(0, 136, 119, 0.5));
	background: -o-linear-gradient(rgba(34, 187, 85, 0.8), rgba(34, 187, 85, 0.5) 50%, rgba(0, 136, 119, 0.8) 50%, rgba(0, 136, 119, 0.5));
	background: linear-gradient(rgba(34, 187, 85, 0.8), rgba(34, 187, 85, 0.5) 50%, rgba(0, 136, 119, 0.8) 50%, rgba(0, 136, 119, 0.5));
}
p, input, textarea {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}
h3 {
	font-size: 20px;
}
h1, h2, h3 {
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
}
button {
	border: none;
	box-shadow: 0px 0px 5px #333;
	color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px 15px;
	transition: 0.2s;
}
button:hover {
	box-shadow: 0px 0px 10px #333;
}
button:active {
	box-shadow: none;
}
button:focus {
	outline: none;
}
/* Top */
.parallax {
	overflow: hidden;
}
.banner {
	background-image: url(images/VERDUN-Front-AFTER.jpg);
    background-size: cover;
	color: #fff;
	height: 500px;
	text-align: center;
}
.navbar {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	height: 50px;
}
.navbar p {
	line-height: 0;
	float: right;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 30px 10px 0 10px;
}
.title {
	background-color: rgba(0, 0, 0, 0.8);
	height: 200px;
	left: 50%;
  	position: absolute;
  	top: 250px;
  	transform: translate(-50%, -50%);
	width: 250px;
}
.title img {
	margin-top: 10px;
	width: 100px;
	transition: 0.5s;
}
.title h1 {
	letter-spacing: 5px;
}
.title p {
	letter-spacing: 5px;
	margin-top: -25px;
}
.caption h2 {
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 325px;
	text-shadow: 0px 0px 10px #333;
}
.contact {
	background-color: rgba(34, 187, 85, 0.8);
}
/* Article */
.extra {
	color: #999;
	margin: 20px;
}
/* Interactive */
.third {
	display: inline-block;
	width: calc(100% / 3);
}
.slide {
    background-size: cover;
	box-shadow: 0px 0px 0px 5px #ddd;
	height: 0px;
	margin: 20px auto;
	overflow: hidden;
	padding-top: 90%;
	width: 90%;
}
.slide div {
    background-size: cover;
	margin-top: -100%;
	padding-top: 100%;
	position: relative;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
	width: 100%;
}
.slide-hide {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
	margin-left: 100%;
}
.slide-show {
	box-shadow: 0px 0px 10px #333;
	margin-left: 0;
}
.slide h3 {
	color: #fff;
	letter-spacing: 5px;
	margin: -40px 0 0 25px;
	position: absolute;
	text-shadow: 0px 0px 10px #333;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}
.blue {
	background-color: #087;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.links {
	margin: auto;
	width: 90%;
}
.fourth {
	display: inline-block;
	width: 25%;
}
.form {
	background-image: url(images/Cezano_Rear_Patio_AFTER_done.jpg);
	background-size: cover;
	overflow:hidden;
	padding: 10px;
}
.blurb input, .blurb textarea {
	border: none;
	box-shadow: 0px 0px 5px #333;
	padding: 10px;
}
.blurb input {
	width: calc(50% - 25px);
}
.blurb input:first-child {
	margin-right: 10px;
}
.blurb textarea {
	height: 200px;
	margin: 10px 0;
	resize: none;
	width: calc(100% - 20px);
}
.blurb {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% / 3);
}
.blurb div {
	background-color: #087;
	color: #fff;
	margin-top: 10px;
	padding: 10px;
	width: calc(100% - 20px);
}
.map {
	display: inline-block;
	vertical-align: middle;
	padding-top: 37.5%;
	width: 50%;
	margin-left: calc(50% / 6 + 10px);
	transition: 1s;
  	background-size: cover;
}
.blurb button {
	background-color: #087;
	float: right;
}
.blurb span {
	color: rgba(255, 255, 255, 0);
	float: right;
	font-size: 30px;
	margin-right: 20px;
	transition: 0.2s;
}
.blurb button:hover ~ span {
	color: rgba(255, 255, 255, 1);
	margin-right: 10px;
}
/* Other */
.gallery {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
.gallery div {
	background-size: cover;
	height: 80%;
	margin: 10%;
	width: 80%;
	z-index: 50;
}
@media only screen and (max-width: 768px) {
	.third {
		display: block;
		margin: auto;
		width: 75%;
	}	
	.fourth {
		width: 50%;
	}
}
@media only screen and (max-width: 425px) {
	.third, .fourth, .blurb, .map {
		width: 100%;
	}
	.map {
		padding-top: 75%;
		margin: 10px auto 0;
	}
}