body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
p {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1px;
}
h1, h2 {
	text-align: center;
}
.top {
    background-size: cover;
	color: #fff;
	height: 500px;
	text-align: center;
}
.navbar {
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
	height: 50px;
}
.navbar p {
	line-height: 0;
	float: right;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 5px;
	margin: 30px 10px 0 10px;
}
.title {
	background-color: rgba(0, 0, 0, 0.8);
	height: 200px;
	left: 50%;
  	position: absolute;
  	top: 250px;
  	transform: translate(-50%, -50%);
	width: 250px;
}
.title img {
	margin-top: 10px;
	width: 100px;
}
.title h1 {
	font-size: 30px;
	letter-spacing: 5px;
}
.title p {
	letter-spacing: 5px;
	margin-top: -25px;
}
.caption {
	font-size: 20px;
	letter-spacing: 2px;
	margin-top: 325px;
	text-shadow: 0px 0px 10px #333;
}
.contact {
	background-color: rgba(34, 187, 85, 0.8);
	border: none;
	box-shadow: 0px 0px 5px #333;
	color: #fff;
	font-size: 20px;
	letter-spacing: 1px;
	padding: 10px 15px;
	transition: 0.2s;
}
.contact:hover {
	box-shadow: 0px 0px 10px #333;
}
.contact:active {
	box-shadow: none;
}
.extra {
	color: #999;
}
.slide {
	width: 500px;
	height: 400px;
	overflow: hidden;
    background-size: cover;
}
.slide div {
    background-size: cover;
	width: 500px;
	height: 400px;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}
.slide-hide {
	transform: translate(500px, 0);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
}
.slide-show {
	box-shadow: 0px 0px 10px #333;
	transform: translate(0, 0);
}
.slide h2 {
	color: #fff;
	position: absolute;
	text-shadow: 0px 0px 10px #333;
	letter-spacing: 5px;
	margin-left: 25px;
}