@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
* {
    font-family: 'Crimson Text';
    font-weight: 100;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
strong {
    font-size: 24px;
}
p {
    font-size: 18px;
}
h1 {
    font-size: 36px;
}
#nav {
    background-color: #fff;
    border-bottom: 2px solid #000;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#inner {
    align-items: flex-end;
    display: flex;
    margin: auto;
    width: 718px;
}
#banner {
    flex-grow: 1;
    padding: 20px 20px 10px 0;
}
#banner h1 {
    font-size: 24px;
}
#links {
    display: flex;
}
#inner p {
    font-variant: small-caps;
    opacity: 0.5;
    padding: 10px;
    transition: 0.2s;
}
#inner p:hover {
    opacity: 1;
}
#large {
    height: 100%;
    overflow: hidden;
}
#image {
    background-position: center 0;
    background-size: cover;
    filter: blur(5px) brightness(1.1) saturate(90%) hue-rotate(5deg);
    height: 100%;
    transform: scale(1.1);
    z-index: -1;
}
#title {
    background-color: rgba(255, 255, 255, 0.75);
    left: 50%;
    letter-spacing: 5px;
    padding: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container {
    margin: auto;
    padding: 100px 50px;
    width: 718px;
}
.tiles {
    position: relative;
}
.wrapper {
    display: flex;
    margin: auto;
    width: 768px;
}
.background {
    background-position: center;
    background-size: cover;
    bottom: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 0;
}
.bleft {
    left: 0;
    right: 50%;
}
.text {
    color: #fff;
    flex-basis: 0;
    flex-grow: 1;
    padding: 100px 50px;
}
.image {
    flex-grow: 1;
    padding: 50px;
}
.pad {
    bottom: 0;
    left: calc((100% - 768px) / 2 + 768px);
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
}
.left {
    left: 0;
    right: calc((100% - 768px) / 2 + 768px);
}
.hard {
    opacity: 1;
}
#map {
    margin: auto;
    width: 768px;
}
iframe {
    height: 500px;
    margin-bottom: 100px;
    width: 100%;
}
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
}