@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,900');

* {
    font-family: Raleway;
    margin: 0;
}
*::-webkit-scrollbar-track
{
    background-color: #e6e6e6;
}

*::-webkit-scrollbar
{
    width: 10px;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background-color: #ccc;
}

html,
body {
    height: 100%;
}
body {
    overflow-x: hidden;
}
h1 {
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px;
}
h2 {
    font-size: 35px;
    font-weight: 900;
    padding-top: 25px;
}
p,
li {
    font-size: 16px;
    line-height: 35px;
    margin-top: 35px;
}
li {
    margin-top: 0;
}
ul {
    list-style: square;
}
div {
    background-position: center;
    background-size: cover;
}
button {
    background: none;
    border: 10px solid #eee;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 50px;
    padding: 10px;
}

#loader {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: 0.25s;
    z-index: 100;
}
#loadlogo {
    font-size: 200px;
    font-weight: 300;
    transition: 1s;
    opacity: 0;
}

.loadanimation {
    animation-duration: 1s;
    animation-name: lan;
}
.loadout {
    animation-duration: 1s;
    animation-name: lot;
}
@media only screen and (max-width: 1024px) {
    #loadlogo {
        font-size: 150px;
    }
}
@media only screen and (max-width: 896px) {
    #loadlogo {
        font-size: 100px;
    }
}
@media only screen and (max-width: 596px) {
    #loadlogo {
        font-size: 50px;
    }
}
.logoanimation {
    animation-duration: 1s;
    animation-name: gan;
}
@keyframes gan {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

#landingbanner {
    height: 100%;
    position: relative;
}
#landingimage {
    background-image: url("images/car.jpg");
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: 1s;
    z-index: -1;
}
#landingtitle {
    color: #fff;
    font-size: 180px;
    font-weight: 100;
    position: absolute;
    bottom: 100px; right: 50px;
    transition: 0.1s;
}
#landingsub {
    color: #fff;
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    bottom: 50px; right: 50px;
    transition: 0.1s;
}
#landingcover {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.125) 75%, rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}
#landingquote {
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 50px; left: 50px;
    width: 500px;
}
@media only screen and (max-width: 1024px) {
    #landingtitle {
        font-size: 144px;
        bottom: 88px;
    }
    #landingsub {
        font-size: 40px;
        bottom: 45px;
    }
}
@media only screen and (max-width: 896px) {
    #landingtitle {
        font-size: 108px;
        bottom: 76px;
    }
    #landingsub {
        font-size: 30px;
        bottom: 40px;
    }
}
@media only screen and (max-width: 596px) {
    #landingtitle {
        font-size: 72px;
        bottom: 64px;
    }
    #landingsub {
        font-size: 20px;
        bottom: 35px;
    }
}

.nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 0 0 #eee;
    display: flex;
    height: 25px;
    justify-content: center;
    padding: 25px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 99;
}
.navtitle {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    margin-right: 30px;
}
.navtext {
    cursor: pointer;
    margin: 10px 20px 0;
    transition: 0.1s;
}
@media only screen and (max-width: 1024px) {
    .navtext {
        margin: 10px 15px 0;
    }
}
@media only screen and (max-width: 896px) {
    .navtext {
        margin: 10px 10px 0;
    }
}
@media only screen and (max-width: 596px) {
    /* special case */
}

.fullcont {
    padding: 50px 100px 0;
    transition: 0.1s;
}
.flex {
    display: flex;
}
.flextext {
    flex-basis: calc(100% - 425px);
    padding-left: 50px;
    transition: 0.1s;
}
.flex .right {
    flex-basis: calc(100% - 425px);
    padding-left: 0;
    padding-right: 50px;
}
.flexhalf {
    width: 50%;
}
.flexhalf p {
    padding-right: 25px;
}
.fleximage {
    flex-grow: 1;
}
@media only screen and (max-width: 1024px) {
    .fullcont {
        padding: 37.5px 75px 0;
    }
    .flextext,
    .flex .right {
        flex-basis: calc(100% - 350px);
    }
}
@media only screen and (max-width: 896px) {
    .fullcont {
        padding: 25px 50px 0;
    }
    .flextext,
    .flex .right {
        flex-basis: calc(100% - 275px);
    }
}
@media only screen and (max-width: 596px) {
    .fullcont {
        padding: 12.5px 25px 0;
    }
    .flextext,
    .flex .right {
        /* special case */
    }
}

.landingtext {
    border-bottom: 10px solid #eee;
    flex-basis: calc(100% - 600px);
    margin-bottom: -10px;
    margin-right: 150px;
    padding: 75px 0 50px 0;
    transition: 0.1s;
}
.ltr {
    flex-basis: calc(100% - 600px);
    margin-left: 50px;
    margin-right: 100px;
}
.landingtext p {
    font-size: 25px;
    line-height: 40px;
    margin-left: 25px;
    margin-right: -100px;
    transition: 0.1s;
}
.ltr p {
    margin-left: 25px;
}
.landingimage {
    box-shadow: 10px 10px 0 0 #eee;
    flex-grow: 1;
}
.lir {
    box-shadow: -10px 10px 0 0 #eee;
}
@media only screen and (max-width: 1024px) {
   .landingtext {
        flex-basis: calc(100% - 500px);
        padding: 50px 0 50px 0;
    }
    .ltr {
        flex-basis: calc(100% - 400px);
    }
    .landingtext p {
        font-size: 22.5px;
        line-height: 36px;
    }
}
@media only screen and (max-width: 896px) {
   .landingtext {
        flex-basis: calc(100% - 400px);
        padding: 25px 0 50px 0;
    }
    .ltr {
        flex-basis: calc(100% - 300px);
    }
    .landingtext p {
        font-size: 20px;
        line-height: 32px;
    }
}
@media only screen and (max-width: 596px) {
    .sectionimage {
        flex-basis: calc(100% - 100px);
    }
    .sectiontitle {
        font-size: 70px;
    }
}

.pad {
    padding: 50px;
}

.section {
    display: flex;
    margin-top: 100px;
}
.sectionimage {
    flex-basis: calc(100% - 400px);
    height: 600px;
    transition: 0.1s;
}
.sectiontitle {
    align-self: flex-end;
    font-size: 100px;
    transition: 0.1s;
    writing-mode: vertical-rl;
}
@media only screen and (max-width: 1024px) {
    .sectionimage {
        flex-basis: calc(100% - 300px);
    }
    .sectiontitle {
        font-size: 90px;
    }
}
@media only screen and (max-width: 896px) {
    .sectionimage {
        flex-basis: calc(100% - 200px);
    }
    .sectiontitle {
        font-size: 80px;
    }
}
@media only screen and (max-width: 596px) {
    .sectionimage {
        flex-basis: calc(100% - 100px);
    }
    .sectiontitle {
        font-size: 70px;
    }
}

.fullimage {
    box-shadow: 10px 10px 0 0 #eee;
    height: 600px;
    margin: 50px 200px -100px 0;
    transition: 0.1s;
}
.fullpanel {
    background-color: #fff;
    margin-left: 200px;
    padding: 50px;
}
@media only screen and (max-width: 1024px) {
    .fullimage {
        margin: 50px 150px -100px 0;
    }
    .fullpanel {
        margin-left: 150px;
    }
}
@media only screen and (max-width: 896px) {
    .fullimage {
        margin: 50px 100px -100px 0;
    }
    .fullpanel {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 596px) {
    .fullimage {
        margin: 0 50px -100px 0;
    }
    .fullpanel {
        margin-left: 50px;
    }
}

#portraits {
    display: flex;
    height: 350px;
    margin-top: 25px;
    padding: 0 75px;
    transition: 0.1s;
}
#portraits div {
    background-position: top;
    flex-grow: 1;
    margin: 0 5px;
    position: relative;
    transition: 0.1s;
}
#portraits p {
    position: absolute;
    text-align: center;
    bottom: -50px; left: 0; right: 0;
}
@media only screen and (max-width: 1024px) {
    #portraits {
        height: 325px;
        padding: 0 50px;
    }
}
@media only screen and (max-width: 896px) {
    #portraits {
        height: 300px;
        padding: 0 25px;
    }
}
@media only screen and (max-width: 596px) {
    /* special case */
}

.about {
    position: relative;
}
.aboutimage {
    background-position: top;
    height: 1200px;
    position: absolute;
    top: -300px; right: 100px;
    transition: 0.1s;
    width: 400px;
    z-index: -1;
}
.abouttext {
    background-color: #f7f7f7;
    box-shadow: 10px 10px 0 0 #eee;
    margin: 400px 0 0 100px;
    padding: 50px;
    transition: 0.1s;
    width: calc(100% - 500px);
}
@media only screen and (max-width: 1024px) {
    .abouttext {
        margin: 400px 0 0 75px;
        width: calc(100% - 400px);
    }
}
@media only screen and (max-width: 896px) {
    .abouttext {
        margin: 400px 0 0 50px;
        width: calc(100% - 300px);
    }
}
@media only screen and (max-width: 596px) {
    /* special case */
}

.album {
    flex-grow: 1;
    height: 400px;
    margin-top: 50px;
    transition: 0.1s;
}
.albumtext {
    flex-basis: calc(100% - 450px);
    margin-top: 50px;
    padding-left: 50px;
    transition: 0.1s;
}
@media only screen and (max-width: 1024px) {
    .album {
        height: 300px;
    }
    .albumtext {
        flex-basis: calc(100% - 350px);
    }
}
@media only screen and (max-width: 896px) {
    /* special case */
}
@media only screen and (max-width: 596px) {
    /* special case */
}