@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');

* {
    font-family: 'Questrial';
    font-weight: 300;
    margin: 0;
}

*::-webkit-scrollbar-track {
    background-color: #e6e6e6;
}
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}

html {
    height: 100%;
}
body {
    height: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: 'Josefin Sans';
    font-size: 50px;
    padding-top: 50px;
    transition: 0.1s;
}
h2 {
    font-family: 'Josefin Sans';
    font-size: 35px;
    padding-top: 25px;
}
h3 {
    font-family: 'Josefin Sans';
    font-size: 25px;
    padding-top: 10px;
}
@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 47.5px;
    }
}
@media only screen and (max-width: 896px) {
    h1 {
        font-size: 45px;
    }
}
@media only screen and (max-width: 596px) {
    h1 {
        font-size: 42.5px;
    }
}

div {
    background-position: center;
    background-size: cover;
}

p,
li {
    font-size: 16px;
    line-height: 32px;
    margin-top: 35px;
}
a {
    color: #03c;
    text-decoration: none;
    transition: 0.1s;
}
a:hover {
    color: #009;
}
ul {
    list-style: square;
}
li {
    margin-top: 0;
}

button {
    background: none;
    border: 2px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    padding: 10px;
    transition: 0.1s;
}
button:hover {
    border: 2px solid #999;
}
button:focus {
    outline: none;
}

#loader {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    transition: 0.25s;
    z-index: 100;
}
#loadlogo {
    background-repeat: no-repeat;
    background-size: contain;
    height: 50%;
    transition: 2s;
    opacity: 0;
    width: 50%;
}
.logoanimation {
    animation-duration: 2s;
    animation-name: gan;
}
@keyframes gan {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
    }
}

.nav {
    align-items: center;
    background-color: #fff;
    box-shadow: 0 10px 0 0 #eee;
    display: flex;
    justify-content: center;
    padding: 10px 25px;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 99;
}
#navicon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px;
}
#navtitle {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 5px 5px 0;
    width: 100px;
}
.navtext {
    cursor: pointer;
    margin: 10px 15px 0;
    transition: 0.1s;
}
.navdrop {
    background-color: #f7f7f7;
    opacity: 0;
    padding: 10px 15px;
    position: absolute;
    top: 55px;
    transition: 0.1s;
    visibility: hidden;
}
.navdrop p {
    margin: 0;
}
.navdrop:hover {
    opacity: 1;
    visibility: visible;
}
.navtext:hover + .navdrop {
    opacity: 1;
    visibility: visible;
}
@media only screen and (max-width: 1024px) {
    .navtext {
        margin: 10px 8.75px 0;
    }
}
@media only screen and (max-width: 896px) {
    .navtext {
        margin: 10px 2.5px 0;
    }
}
@media only screen and (max-width: 596px) {
    .nav {
        flex-wrap: wrap;
    }
}

#popup {
    height: 50px;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 100;
}
#popuptext {
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.flexbreak {
    display: none;
}
@media only screen and (max-width: 896px) {
    .flexbreak {
        display: block;
        flex-basis: 100%;
    }
}

.fullcont {
    margin: auto;
    max-width: 1132px;
    padding: 50px 100px 0;
    transition: 0.1s;
}
@media only screen and (max-width: 1024px) {
    .fullcont {
        padding: 37.5px 75px 0;
    }
}
@media only screen and (max-width: 896px) {
    .fullcont {
        padding: 25px 50px 0;
    }
}
@media only screen and (max-width: 596px) {
    .fullcont {
        padding: 12.5px 25px 0;
    }
}

.flex {
    display: flex;
}
.fleximage {
    flex-grow: 1;
}
.flextext {
    flex-basis: calc(100% - 425px);
    padding-left: 50px;
    transition: 0.1s;
}
.flex .right {
    flex-basis: calc(100% - 425px);
    padding-left: 0;
    padding-right: 50px;
}
@media only screen and (max-width: 1024px) {
    .flextext,
    .flex .right {
        flex-basis: calc(100% - 350px);
    }
}
@media only screen and (max-width: 896px) {
    .flex {
        flex-wrap: wrap;
    }
    .flextext,
    .flex .right {
        /* special case */
    }
}

.section {
    display: flex;
    margin-top: 100px;
}
.sectionimage {
    flex-basis: calc(100% - 400px);
    height: 600px;
    transition: 0.1s;
}
.sectiontitle {
    align-self: flex-end;
    font-size: 100px;
    font-weight: 900;
    transition: 0.1s;
    writing-mode: vertical-rl;
}
@media only screen and (max-width: 1024px) {
    .sectionimage {
        flex-basis: calc(100% - 300px);
    }
    .sectiontitle {
        font-size: 90px;
    }
}
@media only screen and (max-width: 896px) {
    .sectionimage {
        flex-basis: calc(100% - 200px);
    }
    .sectiontitle {
        font-size: 80px;
    }
}
@media only screen and (max-width: 596px) {
    .sectionimage {
        flex-basis: calc(100% - 100px);
    }
    .sectiontitle {
        font-size: 70px;
    }
}

#footer {
    background-color: #eee;
    margin: 50px 0;
    padding: 25px;
    text-align: center;
}
#footer p {
    margin-top: -5px;
}